@import 'variables';
body {
	align-items: center;
	background: $color-rain-lighter;
	color: $color-midnight;
	display: flex;
	font-size: 16px;
	font-family: 'Roboto', serif;
	justify-content: center;
}
.container {
	width: 300px;
}
h1 {
	color: $color-rain-darker;
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	border-bottom: 1px dotted $color-rain;
	padding-bottom: 20px;
}
.todo-list {
	padding: 0;
	color: $color-rain-darker;
}
.todo-list__item {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	font-size: 15px;
	list-style: none;
	margin-bottom: 10px;
	transition: 0.3s ease-out;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&:hover {
		box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
	}
	label {
		padding: 10px 15px 10px 10px;
		flex: 1 0 auto;
	}
}
.warning-message {
	color: $color-coral;
}
.fa-shopping-basket {
	color: $color-coral;
	margin-right: 10px;
}
.trash {
	padding: 0;
	border: none;
	font-size: 20px;
	background: none;
	transition: 0.2s ease-out;
	&:hover {
		color: $color-coral;
		cursor: pointer;
	}
}
.add-item__form {
	display: flex;
	align-items: center;
}
.add-item__input {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid $color-rain;
	margin: 0 10px 0 0;
	flex: 1 0 auto;
}
.btn {
	padding: 10px;
	border-radius: 4px;
	background: $color-midnight-light;
	transition: 0.2s ease-out;
	cursor: pointer;
	border: none;
	color: $color-white;
}
.btn--primary {
	background: $color-purple;
	&:hover {
		background: darken($color-purple, 10%);
	}
}
.btn--block {
	width: 100%;
}
.btn--danger {
	color: $color-white;
	background: $color-danger;
	&:hover {
		background: darken($color-danger, 20%);
	}
}
