$color-midnight-lightest: #A5AFC2;
$color-midnight-lighter: #6D7A91;
$color-midnight-light: #465163;
$color-midnight: #232C3B;

$color-rain-lighter:#F5F7FA;
$color-rain-light:#EDEEF0;
$color-rain:#DEDFE0;
$color-rain-dark:#CACBCC;
$color-rain-darker:#707070;

$color-coral-light:#FF857E;
$color-coral:#DB4747;
$color-coral-dark:#9B1A30;

$color-teal:#08809C;
$color-yellow:#F5BE47;
$color-green:#48C267;
