$color-midnight-lightest: #a5afc2;
$color-midnight-lighter: #6d7a91;
$color-midnight-light: #465163;
$color-midnight: #232c3b;

$color-rain-lighter: #f5f7fa;
$color-rain-light: #edeef0;
$color-rain: #dedfe0;
$color-rain-dark: #cacbcc;
$color-rain-darker: #707070;

$color-coral-light: #ff857e;
$color-coral: #db4747;
$color-danger: #d45d79;
$color-coral-dark: #9b1a30;

$color-teal: #08809c;
$color-yellow: #f5be47;
$color-green: #48c267;

$color-white: #fff;
$color-purple: #6c567b;
