{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jest"
  ],
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "react/prefer-es6-class": ["error", "always"],
    "react/no-unused-prop-types": [1],
    "react/prop-types": [2],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
